<div class="container-fluid">

<h1>Listing Boxes</h1>

<%= link_to 'Create New Box', new_box_path %>

  <div class="row box_list">
    <div class="col-xs-3 col-s-3 col-md-offset-2 col-md-2">
      <strong>Name</strong>
    </div>
    <div class="col-xs-3 col-s-3 col-md-2">
      <strong>Dimensional Weight</strong>
    </div>
    <div class="col-xs-3 col-s-3 col-md-2">
      <strong>Other info.</strong>
    </div>
    <div class="col-xs-3 col-s-3 col-md-2">
    </div>
  </div><!-- /row -->

  <%= render @boxes %>

<br>
</div>

