// Place all the styles related to the boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box_list {
  text-align: center;
  margin-bottom: 1em;
}

.box_list h4 {
  word-wrap: break-word;
}

.box_form input[type='text'] {
  float: none;
 }