// Place all the styles related to the boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box_list {
  text-align: center;
  font-size: 12px;
  clear: both;
}

.box_list h4 {
  word-wrap: break-word;
}

.box_section {
  text-align: center;
}

.box_section_text, .box_section_text_two {
  text-align: center;
}

.box_section_text {
  width: 11.1%;
}

.box_section_text p, .box_section_text_two p {
  font-size: 11px;
}

.list_font_size, .list_font_size h5 {
  font-size: 10px;
}

.box_index_link {
  text-align: center;
}

#new_box_link {
  width: 30%;
  margin: 2em auto;

 .btn-block:focus, .btn-block:visited {
  background-color: #6495ED;
  padding: 8px;
  font-size: 14px;
  border-color: #6495ED;
  color: #FFF;
  text-decoration: none;
  }
  
  .btn-block:hover, .btn-block:active, .btn-block:active:hover, .btn-block:active:focus {
  background-color: #432F21;
  border-color: #432F21; 
  text-decoration: none;
  }
}





