// Place all the styles related to the shipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_shipment_link {
  width: 30%;
  margin: 2em auto;
}

.area {
  box-shadow: 10px 10px 15px #888;
}

.header {
  width: 135px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.girth {
  text-align: center;
}

.solutions {
  text-align: center;
}

.solutions p {
  font-size: 16px;
  margin-top: 1em;
}

form {
  width: 340px;
  margin: 0 auto;
  margin-left: 40px;
}

form label {
  margin-top: 5px;
}

form input[type='text'] {
  width: 60px;
  height: 30px;
  text-align: center;
  float: left;
  margin-right: 15px;
 }

form .actions {
  width: 50%;
}

form .btn-block {
  padding: 8px;
  font-size: 14px;
}